<header class="navbar-light bg-light">
    <div class="container">
        <nav class="navbar">
            <h1 class="navbar-brand">Logo</h1>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users">Users</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

