@model UsersViewModel;
@{
    Layout = "_Layout";
    var users = Model.Users;
}

<h1>Users</h1>

@foreach (var user in users)
{
    <partial name="PartialViews/Organisms/_UserCard" model="@user"></partial>
}